{% extends 'base.html' %} {% block head_title %} this is amazing!! {% endblock
head_title%} {% block content %} Welcome to Tweet_clone

<div id="tweets">
  loading...
</div>

<script>
  // const tweetsElement = document.getElementById('tweets');
  // tweetsElement.innerHTML = 'loading...';

  // let el1 = '<h1>Hi There 1</h1>';
  // let el2 = '<h1>Hi There 2</h1>';
  // let el3 = '<h1>Hi There 3</h1>';
  // tweetsElement.innerHTML = el1 + el2 + el3;

  const xhr = new XMLHttpRequest();
  const method = 'GET'; //
  const url = '/tweets';
  const responseType = 'json';

  function handleDidLike (tweet_id, currentCount) {

  }

  function LikeBtn(tweet) {
    return "<button class='btn btn-primary btn-sm' onClick=handleDidLike(" + tweet.id + "," + tweet.Likes + ")>" + tweet.likes + " Likes</button>"
  }

  functionformatTweetElement(tweet) {
    let formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id
    + "'><p>" + tweet.content +
    "</p><div class='btn-group'>" +LikeBtn() +
    "</p></div>";
    return formattedTweet
  }

  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = function () {
    const serverResponse = xhr.response;
    const listedItems = xhr.response.response;
    let finalTweetStr = '';
    let i;
    for (i = 0; i < listedItems.length; i++) {
      let tweetObj = listItems[i]
      let currentItem = formatTweetElement(tweetObj)
        let finalTweetStr += currentItem;
    }
    tweetsElement.innerHTML = finalTweetStr;
  };
  xhr.send();
</script>
{% endblock content %}
